/* 共通項目 */
body {
margin: 30px;
color: #283655;
}

input {
border: 1px solid;
}

.hidden {
display: none;
}

.error {
    color: red;
}

/* タスク一覧 */
.tasklist table {
width: 100%;
border: 1px solid;
border-collapse: collapse;
}

/* タスク更新ダイアログ */
#updateDialog {
display: none;
background-color: #FFFFFF;
border: 2px double;
width: 500px;
position: fixed;
top: 120px;
z-index: 9999;

}