/* 共通項目 */
.header {
margin: 50px;
color: #283655;
min-height: 1vh;

}

body {
width: 95%;
justify-content: space-between;
}

input {
border: 1px solid; /*境界線について*/
}

.hidden {
display: none;
}

.error {
    color: red; /* 赤色*/
}
/* */

header ul {
  background-color: #dde411; /* 背景色 */
  padding: 5px 5px;
  color: white;
  min-height: 1vh;
  display: flex;
  justify-content: space-between; /* 要素の間を均等に配置 */
  list-style: none; /* リストのマーカーを表示しない */
  width: 100%; /* 画面の横幅いっぱいに広げる */
}

.task_form {
padding: 10px;
border: 1px solid #4D648D;
width: 100%; /* 画面の横幅いっぱいに広げる */
}

.task_form form {
display: grid; /* グリッドレイアウト */
grid-template-columns: 100px 1fr;
gap: 10px; /* グリッドの間隔 */
}

.task_form input[type="date"],
.task_form select {
width: 100%; /* 画面の横幅いっぱいに広げる */
}