body {
  background-color: #dde411;
  margin: 0;
  text-align: center;
  color: white;
  min-height: 1vh;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

li {
list-style: none;

}